html{
    margin: 0;
    padding: 0;
}
body{
    background-color: #DDE1FF;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0;
    height: 100vh;
}

img{
    object-fit: fill;
    margin-top: 13vh;
}

.coming-soon{
    display: flex;
    flex-direction: row;
}

#texto{
    width: 60%;
}

#logo{
    margin: auto 0;
    width: 25%;
    margin-bottom: 6%;
    margin-left: 2%;
    cursor: pointer;
}

#logo:hover{
    width: 25.5%;
}